main {
	margin-top: 7vh;
}

@media screen and (min-width: 900px) {
	main {
		margin: 0;
		display: grid;
		grid-template-rows: auto auto;
		grid-template-columns: repeat(4, auto);
		grid-template-areas:
			"userCard"
			"userCard";
		gap: 1.25rem;
	}
}
